html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* =================================================== */
body{
	max-width:1190px;
    font-family: 'Noto Sans', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 1.2rem;
	cursor: default;
	margin: 20px auto;
}
.order-nav {
    height: 40px;
    background-color: rgb(40, 40, 40);
    color: white;
    line-height: 40px;
    border-radius: 5px;
	display: flex;
	text-wrap:nowrap;
}


.order-nav>div:nth-of-type(1),
.order-nav>div:nth-of-type(2),
.order-nav>div:nth-of-type(3),
.order-nav>div:nth-of-type(11){
	width:100px ;
}
.order-nav>div:nth-of-type(4),
.order-nav>div:nth-of-type(7),
.order-nav>div:nth-of-type(9){
	width:60px ;
}
.order-nav>div:nth-of-type(5){
	width:115px ;
}
.order-nav>div:nth-of-type(6){
	width:165px ;
}
.order-nav>div:nth-of-type(8){
	width:80px ;
}
.order-nav>div:nth-of-type(10),
.order-nav>div:nth-of-type(12){
	width:70px ;
}
.order-nav>div:nth-of-type(13){
	width:110px ;
}

.content-block{
	display: flex;
	min-height: 80px;
	border-bottom:1px;
	border-bottom-color: rgb(193, 193, 193) ;
	border-bottom-style:solid;
}
.content-block:hover{
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgb(193, 193, 193);
}


.content-block>div:nth-of-type(1),
.content-block>div:nth-of-type(2),
.content-block>div:nth-of-type(3),
.content-block>div:nth-of-type(11){
	width:100px ;
}
.content-block>div:nth-of-type(4),
.content-block>div:nth-of-type(7),
.content-block>div:nth-of-type(9){
	width:60px ;
}
.content-block>div:nth-of-type(5){
	width:115px ;
}
.content-block>div:nth-of-type(6){
	width:165px ;
}
.content-block>div:nth-of-type(8){
	width:80px ;
}
.content-block>div:nth-of-type(10),
.content-block>div:nth-of-type(12){
	width:70px ;
}
.content-block>div:nth-of-type(13){
	width:110px ;
}


.order-content {
	text-align: center;
}
nav>div , .content-block>div{
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobile-nav{
    display: none;
}

.blue{
    color: rgb(2, 129, 233);
}
.red{
    color: rgb(246, 0, 0);
}
.blod{
	font-weight: 800;
}
.gray{
	color: rgb(193, 193, 193);
}
.orange{
	color: orange;

}
.hint-wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 8px;
	letter-spacing: -1px;
	line-height:12px;
}
.dotted-button{
	border-bottom: 1px rgb(193, 193, 193) dashed;
	cursor: pointer;
}
.red-button{
	border:  rgb(246, 0, 0) 1px solid;
	border-radius: 5px;
   	margin: 3px;
   	padding: 5px;
    min-width: 60px;
    overflow: visible;
    background: transparent;
    color:  rgb(246, 0, 0);
    font: inherit;
	cursor: pointer;
}
.gray-button{
	border:  rgb(193, 193, 193) 1px solid;
	border-radius: 5px;
   	/* margin: 3px; */
   	padding: 5px;
    min-width: 60px;
    overflow: visible;
    background: transparent;
    color:  rgb(193, 193, 193);
    font: inherit;
	cursor: default;
}
.button-wrapper{
	display: flex;
	flex-direction: column;
}
.icon{
	width: 12px;
	height: 12px;
}
@media screen and (max-width:960px) {
	
	.content-block{
	box-shadow: 0px 0px 8px rgb(193, 193, 193);
	margin: 10px;
	padding:15px 10px;
	border-radius: 5px;
	display: block;
	flex-direction: column;

	}
	.content-block > div {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	#inline-flex-item{
		display: inline-flex;
		min-width: 150px;
	}

	.nav-grid {
		display: block;
	}
	.order-nav{
		display: none;
	}
	
	.mobile-nav{
		display: flex;
		font-weight: 800;
		min-width: 80px;
		text-align: end;
		margin-right: 10px;
		justify-content: flex-end;
	}
	.order-content, .content-block>div>p{
		min-width: fit-content;
		text-align: left;
	}
	.content-block > div:last-of-type{
		display: flex;
		
		flex-direction: column;
		align-items: flex-start;
	}
	#pay-off{
		flex-direction: column;
		display: inline-flex;
		min-width: 45%;
		align-items: center;
	}
	.button-wrapper{
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: 0 auto;
	}
	.red-button,.gray-button{
		 width: 100%; 
	}
	.hint-wrapper{
		margin-left:2%;
	}
	.hint-wrapper>p,.dotted-button {
		min-width: fit-content;
		text-wrap:nowrap;
	}
}
