html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

/* =================================================== */
body {
  max-width: 1000px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2rem;
  cursor: default;
  margin: 20px auto;
  box-sizing: content-box;
}

.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.grow {
  flex-grow: 1;
}
.small {
  font-size: 8px;
  color: gray;
  margin-left: 4px;
}
.form-row,
.date-row {
  width: 100px;
  flex-grow: 1;
}
.item,
.price {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  border: 1px rgb(195, 195, 195) solid;
  line-height: 14px;
  padding-top: 4px;
}
.item {
  color: gray;
  background-color: rgba(141, 141, 141, 0.3);
}
.price {
  cursor: pointer;
  position: relative;
}
.lookMore {
  color: gray;
}
.relative {
  position: relative;
}
.year {
  position: absolute;
  top: 4px;
  right: 16px;
  font-size: 14px;
  color: darkcyan;
}
.go {
  position: absolute;
  bottom: 8px;
  left: 10px;
}
.back {
  position: absolute;
  top: 8px;
  right: 10px;
}
.clicked {
  background-color: rgba(255, 162, 0, 0.1);
  border: 1px tomato solid;
}
.cheapest ::before {
  content: "最便宜";
  position: absolute;
  top: 4px;
  left: 20px;
  color: orange;
  font-size: 14px;
}
.cheapest ::after {
  content: "";
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: orange transparent transparent orange;
  position: absolute;
  top: 0;
  left: 0;
}
.background {
  background-color: rgba(200, 200, 200, 0.2);
}
