html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

/* =================================================== */
body {
  max-width: 1000px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2rem;
  cursor: default;
  margin: 20px auto;
  box-sizing: content-box;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyStart {
  justify-content: start;
}
.alignStart {
  align-items: start;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.sticky {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
}

.small {
  font-size: 8px;
  color: gray;
  margin-left: 4px;
}

.form-row,
.date-row {
  width: 100px;
  flex-shrink: 0;
}
.form-rel-row {
  width: 133px;
  flex-shrink: 0;
}
.item,
.price {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  border: 0.7px rgb(195, 195, 195) solid;
  box-sizing: border-box;
  line-height: 14px;
  padding-top: 4px;
  flex-shrink: 1;
}

.item,
.rel-item {
  color: gray;
  background-color: rgba(220, 220, 220);
}
.price {
  cursor: pointer;
  position: relative;
}
.lookMore {
  color: gray;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.year {
  position: absolute;
  top: 4px;
  right: 16px;
  font-size: 14px;
  color: darkcyan;
}
.go {
  position: absolute;
  bottom: 8px;
  left: 10px;
}
.back {
  position: absolute;
  top: 8px;
  right: 10px;
}
.clicked {
  background-color: rgba(255, 162, 0, 0.1);
  border: 0.7px tomato solid;
}
.cheapest ::before {
  content: "最便宜";
  position: absolute;
  top: 4px;
  left: 20px;
  color: orange;
  font-size: 14px;
}
.cheapest ::after {
  content: "";
  width: 0;
  height: 0;
  border: 12px solid;
  border-color: orange transparent transparent orange;
  position: absolute;
  top: 0;
  left: 0;
}
.background {
  background-color: rgba(200, 200, 200, 0.2);
}
.rel-item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: left;
  height: 80px;
  gap: 16px;
  border: 0.8px rgb(195, 195, 195) solid;
  line-height: 14px;
  padding-left: 4%;
}
.rel-price {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80px;
  gap: 10px;
  border: 0.7px rgb(195, 195, 195) solid;
  line-height: 14px;
  padding-left: 3%;
  position: relative;
  cursor: pointer;
}

.EngTitle {
  font-size: 24px;
}
.ChiTitle {
  font-weight: 400;
}
.airlineTitle {
  padding-top: 4px;
  color: gray;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 36;
  transform: scale(0.7);
}

.rotate90 {
  transform: rotate(90deg) scale(0.7);
}
.rotate180 {
  transform: rotate(180deg) scale(0.7);
}
.flight {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: rotate(90deg) scale(0.7);
}
.rel-clicked {
  background-color: rgba(255, 162, 0, 0.1);
  border: 0.8px tomato solid;
}
.red {
  color: tomato;
}
.stickyContainer {
  position: absolute;
  top: calc(50% - 15px);
  z-index: 1;
}
.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 25px;
  height: 35px;
  background-color: black;
  opacity: 0.3;
  color: white;
  cursor: pointer;
}
.left {
  left: 100px;
}
.rel-left {
  left: 133px;
}
.right,
.rel-right {
  right: 25px;
}
.button {
  display: none;
}
.appear {
  display: flex;
}
.disappear {
  display: none;
}
.frzTable,
.rel {
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  .default,
  .rel {
    width: 400px;
    overflow: hidden;
  }
  .date-row,
  .form-row {
    width: 100px;
    flex-shrink: 0;
  }
  .form-rel-row {
    width: 133px;
    flex-shrink: 0;
  }
  .button {
    display: flex;
  }
}
